In [64]:
import pandas as pd

url = 'https://raw.githubusercontent.com/marcanthonny/binusmarkeu/refs/heads/main/historical_data.csv?token=GHSAT0AAAAAACY264OUDADXQI7IOENBJT6GZYOHG6Q'
mainData = pd.read_csv(url)

In [65]:
mainData.head()

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
0,1.0,2015-02-06 22:24:17,2015-02-06 23:27:16,1845,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0
1,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,5477,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,5477,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0
3,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,5477,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0,446,289.0
4,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,5477,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0

In [66]:
print(mainData['actual_delivery_time'].dtype)
print(mainData['actual_delivery_time'].head(10))
mainData['actual_delivery_time'] = pd.to_numeric(mainData['actual_delivery_time'], errors='coerce')
average_delivery_time = mainData['actual_delivery_time'].mean()
print(f"The average actual delivery time is: {average_delivery_time}")

object
0    2015-02-06 23:27:16
1    2015-02-10 22:56:29
2    2015-01-22 21:09:09
3    2015-02-03 22:13:00
4    2015-02-15 03:20:26
5    2015-01-28 21:08:58
6    2015-01-31 02:43:00
7    2015-02-12 03:36:20
8    2015-02-16 00:38:01
9    2015-02-18 02:08:57
Name: actual_delivery_time, dtype: object
The average actual delivery time is: nan

In [67]:
mainData.head()

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
0,1.0,2015-02-06 22:24:17,NaN,1845,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0
1,2.0,2015-02-10 21:49:25,NaN,5477,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0
2,3.0,2015-01-22 20:39:28,NaN,5477,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0
3,3.0,2015-02-03 21:21:45,NaN,5477,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0,446,289.0
4,3.0,2015-02-15 02:40:36,NaN,5477,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0